@model World_Travel_Blog.Models.Experience

@{
    ViewData["Title"] = "Experience - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new experience</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.LocationId)
    @Html.DropDownList("LocationId")

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")