@model IEnumerable<World_Travel_Blog.Models.Experience>

@{
    ViewData["Title"] = "Experience";

}
<hr>
<hr>
<hr>
<h2>Experiences</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var listExperience in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelExperience => listExperience.Description)
            </td>
            <td>
                @Html.DisplayFor(modelExperience => listExperience.Location.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listExperience.ExperienceId }) |
                @Html.ActionLink("Details", "Details", new { id = listExperience.ExperienceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listExperience.ExperienceId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>