@model Gummi.Models.Product

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.container {
  margin-top:20px;
}
.contentbackground {
  background-color:black;
  color:white;
  padding-left:15px;
  padding-right:15px;
  padding-top:30px;
  padding-bottom:30px;
  border-left:2px solid black;
  border-right:2px solid black;
  border-bottom:2px solid black;
  font-family: 'Roboto', sans-serif;
}
.contentbackground h2 {
  text-align:center;
}
.contentbackground h3 {
  margin-top:10px;
}
.navbar {
  font-family: 'Roboto', sans-serif;
  border-bottom:1px solid red;
}
.cellright {
  text-align:right;
}
input {
  margin-left: 10px;
}
.btn-dark {
  border-radius:0px;
}
</style>

<div class="contentbackground">

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Price)
  @Html.EditorFor(model => model.Price)

  @Html.LabelFor(model => model.Category)
  @Html.DropDownList("CategoryId")

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")

</div>
