@model Gummi.Models.Product

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new experience</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Price)
    @Html.EditorFor(model => model.Price)

    @Html.LabelFor(model => model.CategoryId)
    @Html.DropDownList("CategoryId")


    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")
