@model IEnumerable<Gummi.Models.Review>

@{
    ViewData["Title"] = "Review";

}
<div class="contentbackground">
<h3>Inventory</h3>
<table class="table table-sm table-hover table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var listReview in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelReview => listReview.Description)
            </td>
            <td>
                @Html.DisplayFor(modelReview => listReview.Product.Name)
            </td>
            <td>
                $@Html.DisplayFor(modelReview => listReview.Price)
            </td>
            <td class="cellright">
                @Html.ActionLink("Edit", "Edit", new { id = listReview.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id = listReview.ReviewId }) |
                <span class="deletelink"><a>
                @Html.ActionLink("Delete", "Delete", new { id = listReview.ReviewId })
                </a></span>
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Add Inventory", "Create")
</p>
</div>
