@model Gummi.Models.Category

@{
    ViewData["Title"] = "Category - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Category Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

<hr>
 @foreach (var experience in Model.Products)
 {
    <p>@experience.Description</p>
    <p>Price: $@experience.Price</p>
    <hr>
}


<p>@Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) | @Html.ActionLink("Back to List", "Index")</p>
